%h2.title= @message.title
%p= @message.description

%h3 Comments:
  = render @message.comments

%h3 Reply to Message:
  = render 'comments/form'

= link_to "Back", root_path
= link_to "Edit", edit_message_path(@message)
= link_to "Delete", message_path(@message), method: :delete, data: { confirm: "Are You Sure?" }
